html, body {
    height: 100%;
    margin: 0;
    min-width: 1024px;
    
    
}

.headerButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    width: 200px;
    
    font-family: Arial, sans-serif;
}


.main-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.mainMenu {
    height: 10%;
    background-color: red;
    
    padding-left: 35px;
    padding-right: 35px;
    
    display: flex;
    justify-content: space-between;
}

.mainWindow {
    height: 90%;  
    background-color: white;
}

.popUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    padding: 3px;
    border-radius: 3px;
    Border: 1px solid black;    
    }

#closeButton {
    float: right;
    border: none;
    padding: 0;
    background: none;
}

.ticket-container {
    display: block;
}

.ticket {
    align-items: center;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2px;
    display: flex;
    grid-row-gap: 3px;
    //grid-template-columns: 25% 25% 50%;

}

.ticket>div {
    //border: 1px gray dotted;
}

.ticket:hover {
    background-color: whitesmoke;
}
.ticketsNomResidence {
    font-weight: bold;
    color: royalblue;
    width:30%;
    //grid-area: 1 / 1 / 1 / 3;
}
.ticketDateOuverture {
    font-size: smaller;
    color:gray;
    width:20%;
    //grid-area: 2 / 1 / 2 / 3;
}

.ticketDescription {
    font-size: large; 
    color: black;
    width:50%;
    //grid-area: 3 / 1 / 3 / 5;
}
.divLink {
    text-decoration: none;
}