html, body {
    height: 100%;
    margin: 0;
    min-width: 1024px;
    
    
}

.elementVisible {
    display: block;
}
.elementInvisible {
    display:none;
}

.headerButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    width: 200px;
    
    font-family: Arial, sans-serif;
}
.main-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.mainMenu {
    height: 10%;
    background-color: red;
    
    padding-left: 35px;
    padding-right: 35px;
    
    display: flex;
    justify-content: space-between;
}
.mainWindow {
    height: 90%;  
    background-color: white;
}

.popUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    padding: 3px;
    border-radius: 3px;
    Border: 1px solid black;    
    }
#closeButton {
    float: right;
    border: none;
    padding: 0;
    background: none;
}

.ticket-container {
    display: block;
}
.ticket {
    align-items: center;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2px;
    display: flex;
    grid-row-gap: 3px;
}
.ticket:hover {
    background-color: whitesmoke;
}
.ticketsNomResidence {
    font-weight: bold;
    color: royalblue;
    width:30%;
}
.ticketDateOuverture {
    font-size: smaller;
    color:gray;
    width:15%;
}
.ticketDescription {
    font-size: large; 
    color: black;
    width:55%;
}
.divLink {
    text-decoration: none;
}

.main-container-residences {
    display:block;
}
.residenceFieldsetContainer {
    margin-top: 10px;
}
.residenceFieldsetGroupe {
    font-weight: bold;
    font-size: large;
    color: blue;
    font: large;
}
.residenceRow {
    display: flex;
}
.residenceColumn {
    flex: 33%;
}
.residenceResidence {
    color: black;
}
.residenceResidence:hover {
    background-color: whitesmoke;
}
